.carousel-container{
    margin: 10rem auto;
    height: 40vh;
    width: 60%;
}


.image{
    margin: auto;
    width: 100%;  
    height: 35vh;
    &-1{
     width: 100%;
     
    }
    &-3{
      width: 100%; 
    }
}
